/* Stats.css */
.stats-container {
    max-width: 100%;
    margin: auto;
    background-image: url("../../assets/EventsPage_assets/frontPage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    filter: brightness(60%);
  }
  
  .stat-item {
    transition: transform 0.3s ease-in-out;
    width: 24vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  
  .stat-item:hover {
    transform: scale(1.1);
  }
  
  .stat-number {
    font-variant-numeric: tabular-nums;
     /* Makes number animations smoother */
  }
  .stat-number {
    transition: font-size 0.5s ease-in-out;
  }
  