/* Stats.css */
.stats-container {
    max-width: 80%;
    margin: auto;
  }
  
  .stat-item {
    transition: transform 0.3s ease-in-out;
  }
  
  .stat-item:hover {
    transform: scale(1.1);
  }
  
  .stat-number {
    font-variant-numeric: tabular-nums;
     /* Makes number animations smoother */
  }
  .stat-number {
    transition: font-size 0.5s ease-in-out;
  }
  