.section{
    background: radial-gradient(circle, #4f46e5, #7c3aed);
    position: relative;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    border-radius: 2rem;
    color: white;
    text-shadow: white;

}
@media (max-width:768px) {
    .section{
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1rem;
    }
}