.section{
    background: radial-gradient(
    143.25% 143.25% at 49.05% 37.21%,
    #1C66EE 0%,
    #103A88 100%
  );
    position: relative;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    border-radius: 2rem;
    color: white;
    text-shadow: white;

}
@media (max-width:768px) {
    .section{
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1rem;
    }
}