.ground-booking{
    background-image: url(../../assets/Home_assets/bg.png);
    width: 90vw;
    height: 60vh;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    margin: auto;
    gap: 1rem;
}
@media (max-width:768px) {
    .ground-booking{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}