.about-parts{
    max-width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.bullet-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds spacing between items */
  }
  
.bullet-item {
    position: relative;
    padding-left: 20px; /* Space for the bullet */
  }
  
.bullet-item::before {
    content: '•'; /* Unicode for a bullet */
    position: absolute;
    left: 0;
    top: -0.4rem; /* Position the bullet to the left of the text */
    color: #5FBC1E; /* Bullet color (blue) */
    font-size: 1.5rem; /* Adjust bullet size */
  }
@media (max-width:768px) {
  .about-parts{
    max-width: 100%;
    height: auto;
  }
}