.league{
    gap: 4rem;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.brand-container{
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    gap: 5rem;
}