.EventsContainer{
    background-image: url('../../assets/EventsPage_assets/frontPage.png');
    width: 100vw;
    height: 80vh;
    position: relative;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}