.backGround-Pics{
    background-image: url("../../assets/Home_assets/bg.png");
    background-size: cover;
    width: 94vw;
    height: 94vh;
    position: relative;
    right:2vw;
    left: 2vw;
    top: 3vh;
    bottom: 3vh;
    border-radius: 1rem;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure space between items */
    width: 100%; /* Use full width */
    padding-left: 5vw;
    padding-right: 5vw;
    position: relative;
    z-index: 1000;
    top: 6vh;
    color: white;
    border-radius: 1rem;
}

ul {
    transition: max-height 0.3s ease-in-out; /* Smooth transition for dropdown */
    display: flex; /* Ensure the list is displayed as a flex container */
    flex-grow: 1; /* Allow the list to grow and take available space */
}

@media (max-width: 768px) {
    ul {
        display: none; /* Hide by default on small screens */
        flex-direction: column; /* Stack items vertically */
        position: absolute; /* Positioning for dropdown */
        background-color: rgba(0, 0, 0, 0.8); /* Background for dropdown */
        width: 100%; /* Full width */
        top: 100%; /* Position below the navbar */
        left: 0; /* Align to the left */
        z-index: 1000; /* Ensure it appears above other content */
    }

    ul.block {
        display: flex; /* Show when toggled */
    }
}
li:last-child { /* Assuming "Contact Us" is the last item */
    white-space: nowrap;
}

/* Additional styles for padding */
li {
    padding-left: 1rem; /* Add left padding to each list item */
}
.logo{
    width: 15vw;
}
.content-item{
    gap: 5vw;
    font-size: small;
    cursor: pointer;
}
.content-items{
    gap: 3vw;
    font-size: small;
    cursor: pointer;
}
.main-content{
    display: flex;
    width: 50vw;
    flex-direction: column;
    gap: 0.5rem;
    top: 23vh;
    padding-left: 4vw;
    padding-bottom: 12vw;
}
.button-edit{
    background-color: white;
    width: fit-content;
}
.button-edit:hover{
    color: blue;
}
@media (max-width:768px) {
    .main-content{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 90vw;
        height: 80vh;
        margin-bottom: 15vh;
        margin-left: 1rem;
    }
   
}
@media (max-width:400px) {
    .main-content{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 40vh;
        margin-bottom: 80vh;
        margin-left: 1rem;
    }
   
}