
.custom-radial {
    background: radial-gradient(
      143.25% 143.25% at 49.05% 37.21%,
      #1C66EE 0%,
      #103A88 100%
    );
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vw;
    margin-top: 5vw;
    border-radius: 2rem;
  }
  .images{
    position: relative;
    top: 20vw;
    left: -1vw;
    gap: 0;
    scale: 240%;
  }
.image-2{
    left: -6vw;

}
.text-edit{
    margin-top: 3rem;
}
.button-edits{
    display: flex;
    width: fit-content;
    background: #F59431;
    border: #F59431 1px;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0.3rem;
}
.button-edits:hover{
    color: black;
    cursor: pointer;
}
.QR{
    max-width: 10vw;
}
.spacing{
    gap: 12rem;
    align-items: center;
}
@media (max-width:639px) {
    .images{
        top: 40vh;
    }
    .custom-radial{
        height: 40vh;
        width: 90vw;
    }
    .spacing{
        gap: 7rem;
    }
    .button-edit{
        font-size: 30%;
        width: 15rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: fit-content;
    }
    .QR{
        transform: translateX(-4rem);
        max-width: 15vw;
    }
    
}
@media (min-width:640px) and (max-width:1024px) {
    .images{
        top: 40vh;
    }
    .custom-radial{
        height: 40vh;
        width: 90vw;
    }
    .spacing{
        gap: 7rem;
    }
    .button-edit{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: fit-content;
    }
    .QR{
        transform: translateX(-4rem);
        max-width: 15vw;
    }
}