.section1,.section2{
    width: 50vw;
}
.section2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text-section{
    gap: 0.5rem;
}
.img1{
    width: 25vw;
    height: 60vh;
    object-fit:fill;
    position: relative;
    z-index: 100;
    top: 5rem;
    left: 6rem;
}
.img2{
    width: 20vw;
    position: relative;
    z-index: 100;
    top: -3rem;
    left: 15rem;
}
@media (max-width:639px) {
    .img1{
        width: 13rem;
        left: 1rem;
    }
    .img2{
        width: 13rem;
        left: 9rem;
        top: -20rem;
    }
    .section1{
        width: 90vw;
        height:50vh;
    }
    .section2{
        width: 90vw;
        height: auto;
    }
}
@media (min-width:640px) and (max-width:1024px) {
    .img1{
        width: 25vw;
        height: 40vh;
        left: 4rem;
    }
    .img2{
        width: 20vw;
        left: 9rem;
        top: -10rem;
    }
}
