
.wholes{
    position: relative;
    height: 100vh;
    z-index: 1000000;
    width: 100vw;
    overflow: hidden;
}
.foot{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}