.aboutSection{
    background-image: url(../../assets/AboutPage_assets/backgroundImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 80vh;
    color: white;
    position: relative;
    z-index: 1000;
}
@media (max-width:768px) {
    
}